.month-year-date-container{
    background-color: aqua;
    padding: 5px;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}