.form-and-submit-btn-container {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  z-index: 1;
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.27);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-class {
  display: flex;
  /* flex-direction: column; */
  height: 30px;
}
input{
    margin-left: 5px;
}
