.filter-container-div{
    background-color: rgba(127, 255, 212, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.filter-core{
    background-color: rgba(232, 232, 255, 0);
    width: 50%;
    padding: 0px 10px 0px 10px;
}