.App {
  width: 100%;
  padding: 0%;
  margin: 0%;
  background-color: rgb(255, 255, 255);
}

.App-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: brown;
}

.filter-container-div{
  background-color: rgb(13, 73, 53);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inner-div-containing-filter{
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}


