.App {
  width: 100%;
  padding: 0%;
  margin: 0%;
  background-color: rgb(255, 255, 255);
}

.App-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: brown;
}

.filter-container-div{
  background-color: rgba(127, 255, 212, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-div-containing-filter{
  width: 50%;
  background-color: rgba(0, 0, 255, 0.377);
}

