.select-filter-drop{
    background-color: rgba(0, 255, 255, 0);
    height: 30px;
    width: 100px;
    padding: 5px;
    border: 4px solid rgba(39, 3, 59, 0.096);
    border-radius: 0px;
}

.select-filter-drop:focus{
    outline: 0px;
}